In [1]:
import pandas as pd
import numpy as np

In [2]:
#ata on COVID-19 (coronavirus) by Our World in Data
pd.set_option('display.max_columns', None)  
df = pd.read_csv('data/covid_ourworld_data.csv')

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [4]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
count,3.996200e+04,39782.000000,39000.000000,39962.000000,39782.000000,39000.000000,39718.000000,39718.000000,38935.000000,39718.000000,39718.000000,38935.000000,1.288400e+04,1.321200e+04,13212.000000,12884.000000,14492.000000,14492.000000,13392.000000,13748.000000,33369.000000,4.029300e+04,38494.000000,36204.000000,35672.000000,36017.000000,35754.000000,23877.000000,36217.000000,37478.000000,28529.000000,28174.000000,16813.000000,32809.000000,39795.000000
mean,7.574857e+04,1258.328289,1241.753499,3393.987738,42.388920,42.345396,1491.742021,21.401103,21.045714,49.451759,0.543572,0.543793,2.046089e+04,1.161358e+06,42.730641,0.648833,19674.196729,0.621939,197.051707,0.063140,58.052011,9.075235e+07,365.485771,31.447409,9.333705,5.908644,21159.007575,11.832508,250.814336,8.045487,10.878015,32.639566,52.833046,3.125904,74.115417
std,7.841232e+05,11562.650994,11323.625749,31844.630171,361.947843,351.638447,3336.513094,68.958879,52.162076,133.562798,2.883483,1.919693,7.963314e+04,4.925216e+06,75.479126,1.084617,73484.955441,0.973637,1006.530229,0.090633,28.254981,6.220741e+08,1677.824155,9.017970,6.339894,4.332918,20552.462989,19.002994,117.813637,4.133405,10.488752,13.389879,31.528208,2.539146,7.349520
min,0.000000e+00,-2461.000000,-338.857000,0.000000,-1918.000000,-232.143000,0.000000,-2212.545000,-256.514000,0.000000,-67.901000,-9.678000,-3.743000e+03,0.000000e+00,0.000000,-0.398000,0.000000,0.000000,1.535000,0.000000,0.000000,8.090000e+02,0.137000,15.100000,1.144000,0.526000,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000
25%,3.500000e+01,0.000000,0.429000,0.000000,0.000000,0.000000,18.203000,0.000000,0.087000,0.000000,0.000000,0.000000,9.685000e+02,4.091825e+04,2.457250,0.064000,1066.750000,0.065000,12.123500,0.008000,39.350000,1.402985e+06,39.497000,23.500000,3.556000,2.155000,5591.597000,0.500000,153.507000,5.310000,1.900000,21.400000,21.222000,1.300000,70.260000
50%,7.350000e+02,8.000000,12.143000,13.000000,0.000000,0.143000,228.986000,1.206500,2.486000,3.647000,0.000000,0.014000,3.286000e+03,1.688415e+05,13.038000,0.282500,3648.000000,0.300000,34.928500,0.027000,65.740000,8.654618e+06,88.125000,31.400000,6.991000,4.419000,14103.452000,1.800000,237.372000,7.110000,6.434000,31.400000,55.182000,2.500000,75.490000
75%,8.017500e+03,138.000000,142.286000,166.000000,2.000000,2.714000,1423.795500,14.139750,15.680500,29.304000,0.180000,0.254000,1.151900e+04,6.302052e+05,51.604500,0.785250,12004.000000,0.778000,118.643750,0.080000,80.560000,3.125544e+07,222.873000,39.700000,14.799000,9.719000,32605.906000,15.000000,318.949000,10.180000,19.600000,40.900000,83.741000,4.200000,79.930000
max,2.502941e+07,298089.000000,263482.286000,843158.000000,10467.000000,7459.000000,41098.415000,4944.376000,882.924000,1237.551000,200.040000,63.140000,1.191266e+06,8.146263e+07,683.032000,16.574000,904871.000000,12.502000,47299.000000,0.651000,100.000000,7.794799e+09,19347.500000,48.200000,27.049000,18.493000,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000

In [5]:
df.shape

(40537, 40)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40537 entries, 0 to 40536
Data columns (total 40 columns):
iso_code                           40293 non-null object
continent                          40049 non-null object
location                           40537 non-null object
date                               40537 non-null object
total_cases                        39962 non-null float64
new_cases                          39782 non-null float64
new_cases_smoothed                 39000 non-null float64
total_deaths                       39962 non-null float64
new_deaths                         39782 non-null float64
new_deaths_smoothed                39000 non-null float64
total_cases_per_million            39718 non-null float64
new_cases_per_million              39718 non-null float64
new_cases_smoothed_per_million     38935 non-null float64
total_deaths_per_million           39718 non-null float64
new_deaths_per_million             39718 non-null float64
new_deaths_smoothed_per_million    38935 non-null float64
new_tests                          12884 non-null float64
total_tests                        13212 non-null float64
total_tests_per_thousand           13212 non-null float64
new_tests_per_thousand             12884 non-null float64
new_tests_smoothed                 14492 non-null float64
new_tests_smoothed_per_thousand    14492 non-null float64
tests_per_case                     13392 non-null float64
positive_rate                      13748 non-null float64
tests_units                        15247 non-null object
stringency_index                   33369 non-null float64
population                         40293 non-null float64
population_density                 38494 non-null float64
median_age                         36204 non-null float64
aged_65_older                      35672 non-null float64
aged_70_older                      36017 non-null float64
gdp_per_capita                     35754 non-null float64
extreme_poverty                    23877 non-null float64
cardiovasc_death_rate              36217 non-null float64
diabetes_prevalence                37478 non-null float64
female_smokers                     28529 non-null float64
male_smokers                       28174 non-null float64
handwashing_facilities             16813 non-null float64
hospital_beds_per_thousand         32809 non-null float64
life_expectancy                    39795 non-null float64
dtypes: float64(35), object(5)
memory usage: 12.4+ MB

In [7]:
for column in df:
    if df[column].isnull().sum()*100.0/df.shape[0] > 50:
        df.drop(column,1, inplace=True)

In [8]:
df.shape

(40537, 30)

In [9]:
"""
continent  40537 - 40049 = 488 
population 40537 - 40293 = 244


"""

round(df.isna().sum() / len(df),4) * 100

iso_code                            0.60
continent                           1.20
location                            0.00
date                                0.00
total_cases                         1.42
new_cases                           1.86
new_cases_smoothed                  3.79
total_deaths                        1.42
new_deaths                          1.86
new_deaths_smoothed                 3.79
total_cases_per_million             2.02
new_cases_per_million               2.02
new_cases_smoothed_per_million      3.95
total_deaths_per_million            2.02
new_deaths_per_million              2.02
new_deaths_smoothed_per_million     3.95
stringency_index                   17.68
population                          0.60
population_density                  5.04
median_age                         10.69
aged_65_older                      12.00
aged_70_older                      11.15
gdp_per_capita                     11.80
extreme_poverty                    41.10
cardiovasc_death_rate              10.66
diabetes_prevalence                 7.55
female_smokers                     29.62
male_smokers                       30.50
hospital_beds_per_thousand         19.06
life_expectancy                     1.83
dtype: float64

In [10]:
"""
new_cases        new_cases_smoothed
0.0              NaN
"""

def change_value(df_data,new_cases_s, new):
    bool_series = pd.isnull(df_data[new_cases_s])
    if (bool_series.any()) & (df_data[new]==0.0): #
        df_data[new_cases_s] = 0.0
    return df_data 


new_df = change_value(df,'new_cases_smoothed','new_cases')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
def change_valuef(df_data,new_cases_s, new ):
    bool_series = pd.isnull(df[new_cases_s])
    if (bool_series.any()) & (df_data[new]==0.0): #
        df_data[new_cases_s] = 0.0
    return df_data 
    
    
df_new = df.apply(change_value(df,'new_cases_smoothed','new_cases'), axis=1)

In [ ]:
df['continent'].value_counts(dropna=False)

In [ ]:
"""
our world in data
World, International, 
"""
pd.set_option('display.max_rows', None)
continent_null = df[df['continent'].isnull()]
continent_null